<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Duyệt đề tài</title>
</head>

{{!-- projects --}}

<body>
    <section class="flex">
        {{> sbteacher}}
        <div class="ml-[300px] p-12 w-full">
            <h3 class="text-xl font-medium text-center">Duyệt đề tài</h3>
            <div>
                {{#each projects}}
                <div class="bg-white p-6 mt-4" style="box-shadow: 0 8px 30px rgb(0,0,0,0.12);">
                    <p class="">Tên đề tài: <span class="font-medium">{{name}}</span></p>
                    <p class="">Giảng viên hướng dẫn: <span class="font-medium">{{teacher.name}}</span></p>
                    <p class="">Thời hạn: <span class="font-medium">{{deadline}}</span></p>
                    <p class="text-red-500">Ghi chú: <span>{{note}}</span></p>

                    <div class="horizontal-line"></div>
                    <div class="flex justify-between items-center">
                        
                        <p>
                            Sinh viên chọn đề tài: {{approvalStudents.length}}
                        </p>
                        <a href="/teachers/projects/approval/{{id}}"
                            class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2">
                            Chi tiết
                        </a>
                    </div>

                    <div class="horizontal-line"></div>
                </div>

                {{/each}}
            </div>

        </div>
    </section>
</body>

</html>

<style>
    li {
        list-style: none;
    }

    .horizontal-line {
        border-top: 1px solid rgb(239, 239, 239);
        /* Độ dày và màu sắc của đường line */
        margin: 20px 0;
        /* Khoảng cách giữa các đường line */
    }
</style>